.about-title-hero {
  margin-left: 158px;
  padding: 72px 0;
}

.hero {
  background-image: url(../images/about-hero-img.png);
  background-size: cover;
}

.hero::after {
  content: "";
  position: absolute;
  background-image: url(../images/circles.png);
  background-repeat: no-repeat;
  width: 202px;
  height: 64px;
  top: 68px;
  right: 0;
}

.lhite {
  background-color: #344872;
  opacity: 0.5;
}

.digital {
  margin-top: 173px;
  margin-bottom: 173px;
}

.digital::before {
  content: "";
  position: absolute;
  background-image: url(../images/arow-tip.png);
  background-repeat: no-repeat;
  width: 740px;
  height: 152px;
  bottom: 33px;
  right: -100px;
}

.urban {
  margin-top: 173px;
  margin-bottom: 173px;
}

.urban::before {
  content: "";
  position: absolute;
  background-image: url(../images/arow.png);
  background-repeat: no-repeat;
  width: 452px;
  height: 151px;
  top: 4px;
  left: -255px;
}

.values {
  text-align: center;
  margin-bottom: 115px;
  margin-top: 260px;
}

.sub-sub-title {
  font-size: 25px;
  line-height: 28px;
  letter-spacing: -3px;
  color: #495567;
  padding: 25px 0;
}

.values-paragraphe {
  max-width: 23vw;
  font-family: Lexend Deca;
  font-size: 15px;
  line-height: 25px;
  color: #939caa;
}

.step {
  margin: 0 auto;
  font-size: 25px;
  line-height: 28px;
  letter-spacing: -3px;
  color: rgb(73, 85, 103);
}

.tech::before {
  content: "";
  position: absolute;
  background-image: url(../images/tech.png);
  background-repeat: no-repeat;
  width: 350px;
  height: 350px;
  bottom: 145px;
  left: -6px;
}

.integrity::before {
  content: "";
  position: absolute;
  background-image: url(../images//integrity.png);
  background-repeat: no-repeat;
  width: 350px;
  height: 350px;
  bottom: 145px;
  left: -6px;
}

.community::before {
  content: "";
  position: absolute;
  background-image: url(../images/community.png);
  background-repeat: no-repeat;
  width: 350px;
  height: 350px;
  bottom: 145px;
  left: -6px;
}

.liste-questions {
  display: flex;
  justify-content: space-between;
  margin-top: 58px;
}

.questions {
  display: inline-block;
  border: none;
  background-color: #f2f5f9;
  font-size: 25px;
  line-height: 28px;
  letter-spacing: -1px;
  color: #495567;
  padding: 25px 45px;
  cursor: pointer;
  width: 100%;
}
.questions:hover {
  background-color: #fff4df;
}

.questions::after {
  content: "";
  position: absolute;
  background-image: url(../images/select.png);
  background-repeat: no-repeat;
  width: 18px;
  height: 13px;
  top: 34px;
  right: 38px;
}

.align-center {
  text-align: center;
}

.faqs-paragraphe {
  display: none;
  max-width: 47.2vw;
  font-family: Lexend Deca;
  font-size: 15px;
  line-height: 25px;
  color: #495567;
  padding: 0 45px 25px;
}

.back-color {
  width: 730px;
  background-color: #f2f5f9;
  margin-bottom: 15px;
}

input[type="checkbox"].hide-input:checked + .faqs-paragraphe {
  display: block;
}

.hide-input {
  position: absolute;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.sign-up {
  margin-top: 160px;
}

@media (max-width: 768px) {
  .hero {
    background-image: url(../images/about-hero-1.png);
  }
  .hero::after {
    right: 0;
  }
  .about-title-hero {
    margin-left: 100px;
    margin-right: 50px;
  }

  .flex-column {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .digital {
    flex-direction: column;
    justify-content: center;
  }

  .digital::before {
    right: -32px;
    top: 257px;
  }

  .urban {
    flex-direction: column;
    justify-content: center;
    margin-bottom: 90px;
  }

  .urban::before {
    top: 0px;
    left: -140px;
  }

  .width-tablete {
    max-width: 59.5vw;
  }

  .values {
    height: 1395px;
    justify-content: space-around;
    flex-direction: column;
    margin-top: 157px;
    margin-bottom: 0;
  }

  .tech::before {
    bottom: 145px;
    left: 57px;
  }

  .values-paragraphe {
    max-width: 457px;
  }

  .integrity::before {
    bottom: 125px;
    left: 55px;
  }

  .community::before {
    bottom: 120px;
    left: 50px;
  }

  .liste-questions {
    flex-direction: column;
    margin-top: 0;
  }

  .sub-title {
    text-align: center;
  }

  .back-color {
    width: 689px;
  }

  .questions {
    padding: 32px 45px;
  }

  .faqs-paragraphe {
    max-width: 89.85vw;
  }

  .sign-up {
    margin-top: 100px;
  }
}
