*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Space Mono', monospace;
}

li{
    list-style: none;
}

a {
text-decoration: none;
}

.container{
    margin: 0 auto;
    max-width: 1220px;
}

.flex-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.flex-center {
display: flex;
align-items: center;
}
.aling-center {
align-items: center;
}

.header-nav {
padding: 30px 0;
}

.logo {
text-decoration: none;
border: none;
color: #495567;
font-size: 40px;
font-weight: 700;
background-color: transparent;
}

.header-navigation{
font-size: 15px;
font-weight: 700;
line-height: 25px;
color: rgb(147, 156, 170);
margin-left: 40px;
}

.header-navigation:hover {
color: #fcb72b;
}

.button-normal{
    text-decoration: none;
    border: none;
    background-color:  #fcb72b;
    color: white;
   font-size: 15px;
   font-weight: 700;
   line-height: 25px;
   padding: 15px 45px;
   letter-spacing: 0.9px;
   cursor: pointer;
}

.button-normal:hover {
background-color: transparent;
border: solid #fcb72b;
color:#fcb72b;
}


.hero{
    background-image: url(../images/heroo.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 650px;
  margin-bottom: 150px;
}
/*
.opacity {
  background-color: rgb(6, 6, 68);
opacity: .5;
height:650px ;
}
*/
h1{
    max-width: 500px;
color: #ffffff;
font-size: 56px;
line-height: 56px;
letter-spacing: -2.5px;
padding-top: 158px;
padding-bottom: 50px;
margin-left: 44px;
}

.sharing {
height: 100%;
position: relative;
}

.sharing::before{
    content:"";
    position: absolute;
    background-image: url(../images/path.png);
    background-repeat: no-repeat;
    width: 203px;
    height: 15px;
    left: -154px;
    bottom: 267px;
}

.sharing::after{
    content:"";
    position: absolute;
    background-image: url(../images/arow.png);
    background-repeat: no-repeat;
    width: 452px;
    height: 151px;
    bottom: 138px;
    right: 163px;
}

.hero-paragraphe {
font-family: Lexend Deca;
font-size: 15px;
line-height: 25px;
color: #ffffff;
max-width: 450px;
margin-bottom: 50px;
margin-left: 139px;
}

.hero-button {
margin-left: 139px;
}

.flex{
display: flex;
}

.relative{
    position: relative;
}

.about {
margin-bottom: 60px;
}

.about::after{
    content:"";
    position: absolute;
    border: 10px solid #e5ecf4;
    width: 974px;
    top: 38px;
    left: 0px;
    z-index: -1;
}

.step {
  display: flex;
  justify-content: center;
  height: 96px;
  width: 96px;
  background-color: #fcb72b;
  border: none;
  border-radius: 50%;
align-items: center;
margin-right: 311px;
position: relative;
}

.first-step::after {
    content: "";
    position: absolute;
    background-image: url(../images/first-step.png);
    background-repeat: no-repeat;
    width: 39px;
    height: 48px;
}

.second-step::after {
    content: "";
    position: absolute;
    background-image: url(../images/second-step.png);
    background-repeat: no-repeat;
    width: 49px;
    height: 32px;
}

.third-step::after {
    content: "";
    position: absolute;
    background-image: url(../images/third-step.png);
    background-repeat: no-repeat;
    width: 40px;
    height: 40px;
}

.about-title {
font-size: 24px;
line-height: 28px;
letter-spacing: -1.07px;
color:#495567;
padding: 40px  0 30px;
}

.about-paragraphe {
font-family: Lexend Deca;
font-size: 15px;
font-weight: 400;
line-height: 25px;
color: #939caa;
max-width: 350px;
}

.left-space {
margin-left: 60px;
}

.get-your-scoot {
margin-top: 160px;
margin-bottom: 160px;
}

.scoot-app::before {
    content:"";
position:absolute;
background-image:url(../images/arow-tip.png);
background-repeat:no-repeat;
width:735px;
height: 116px;
bottom:30px;
right: -110px;
}

.scoot-app::after{
       content:"";
position:absolute;
background-image:url(../images/arow-head.png);
background-repeat:no-repeat;
width:50px;
height: 88px;
right: 590px;
bottom: -6px;
}


.max-width {
max-width: 445px;
}

.sub-title {
font-size: 48px;
line-height: 48px;
letter-spacing: -2px;
color: #495567
}

.main-paragraphe {
font-family: Lexend Deca;
font-size: 15px;
font-weight: 400;
line-height: 25px;
color: #939caa;
margin: 20px 0 30px;
}

.radius{
border-radius: 50%;
margin-right: 60px;
}

.neer-you {
margin-top: 140px;
}

.neer-you::after{
 content:"";
position:absolute;
background-image:url(../images/arow.png);
background-repeat:no-repeat;
width:452px;
height: 151px;
top: 9px;
left: -255px;
}

.payment {
margin-top: 140px;
}

.payment::before {
    content:"";
position:absolute;
background-image:url(../images/arow-tip.png);
background-repeat:no-repeat;
width:360px;
height: 116px;
top: 75px;
right: -110px;
}

.payment::after{
content:"";
position:absolute;
background-image:url(../images/arow-head.png);
background-repeat:no-repeat;
width:50px;
height: 88px;
right: 215px;
top: 138px;
}

.top-footer {
background-color: #495567;
padding: 80px
}

.footer-heading {
 max-width: 415px;
font-family: Space Mono;
font-size: 48px;
font-weight: 700;
line-height: 48px;
letter-spacing: -2px;
color: #ffffff;
}

.footer-button {
background-color: #e5ecf4;
padding: 10px 10px 10px 55px;
border-radius: 5px;
color:#495567 ;
font-family: Space Mono;
font-size: 10px;
font-weight: 700;
line-height: 15px;
letter-spacing: -0.4px;
border: none;
text-align: start;
}

.appstore {
font-family: Space Mono;
font-size: 20px;
font-weight: 700;
line-height: 24px;
letter-spacing: 0.5px;
}

.apple::before {
content: "";
position: absolute;
background-image: url(../images/apple.png);
background-repeat: no-repeat;
width: 25px;
height: 28px;
left: 20px;
bottom: 14px;
}

.play::before {
content: "";
position: absolute;
background-image: url(../images/google-play.png);
background-repeat: no-repeat;
width: 24px;
height: 28px;
left: 20px;
bottom: 14px;
}

.main-footer {
background-color: #333a44;
padding: 30px;
}


.logo-footer {
color:#ffffff;
}

.social-media:hover {
color: #e5ecf4;
}



